{% extends 'checker_index.html' %}



{% block body1 %}
    <div id="echarts_post" style="width:800px;height:600px;">
    {#<p>{{ username }}</p>#}
    </div>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例

    var myChart = echarts.init(document.getElementById('echarts_post'));



    option = {
        title: {
            text: '教职工业绩点统计',

            x: 'left'
        },
        xAxis: {
            type: 'category',
            data: {{ username }},
            name: "教职工号"
            {#                    data: ['1','2','3','4','5']#}

        },
        yAxis: {
            type: 'value',
            name: '教师业绩点'
        },
        series: [{

            data: {{ jiidan }},
            type: 'line'

        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
{% endblock %}