<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格导出</title>
    <script type="text/javascript" src="{% static 'teachering/assets/js/echarts.js' %}"></script>

</head>
<body>
 <div>
10     <p><a href="/user/output" name="导出.xlsx">导出csv</a></p>

11 </div>
<div id="echarts_post" style="width:600px;height:400px;"></div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echarts_post'));
        // 指定图表的配置项和数据
        var option = {

            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ['1','2','1','2','1','2']
            },
            yAxis: {},
            series
                : [{
                name: '销量',
                type: 'bar',
                data: {{ count }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>