<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆统计</title>
    <script type="text/javascript" src="{% static 'teachering/assets/js/echarts.js' %}"></script>

</head>
<body>
{# <div>#}
{#10     <p><a href="/user/output" name="导出.xlsx">导出csv</a></p>#}
{##}
{#11 </div>#}
<div>
 <p>11月每天登陆失败情况统计</p>
</div>

<div id="echarts_post" style="width:800px;height:600px;">

</div>


<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echarts_post'));
        // 指定图表的配置项和数据
        var option = {
            series: {
                type: 'pie',
                selectedMode: 'single',
                data: [

                    {% for i in list2 %}
                        {name: {{ i.flag }} , value: {{i.count}}},
                    {% endfor %}


                ]
            }

        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>