{% extends 'teacheringindex.html' %}
{% block body1 %}

<div class=" admin-content">
	
		<div class="daohang">
</div>
	
	


<div class="admin">

    <div class="admin-biaoge">
      <div class="xinxitj">教研业绩量化表</div>
      <form action="#" method="post" class="am-table">
        <ul>
          <li>1.教材级别系数、语言类别系数表</li>
          <li>
            <input type="radio" name="checkbox1" id="">
            <label>国家级规划教材</label>
            <input type="radio" name="checkbox1" id="">
            <label>省级规划教材</label>
            <input type="radio" name="checkbox1" id="">
            <label>其他教材</label>
            <input type="radio" name="checkbox1" id="">
            <label>中文编写</label>
            <input type="radio" name="checkbox1" id="">
            <label>外文编写</label>
            </li>
            <li>2.主编部分 </li>
            <li>
            <input type="radio" name="checkbox2" id="">
            <label>本校任第一主编</label>
            <input type="radio" name="checkbox2" id="">
            <label>外校任第一主编</label>
            </li>
            <li>3.立项系数</li>
            <li>
            <input type="radio" name="checkbox4" id="">
            <label>学校立项1</label>
            <input type="radio" name="checkbox4" id="">
            <label>院部立项0.5</label>
            <input type="radio" name="checkbox4" id="">
            <label>未立项0.5</label>
            </li>
            <li>4.再版系数</li>
            <li>
            <input type="radio" name="checkbox5" id="">
            <label>再版系数0.5</label>
            </li>
            <li>
            <label>5.输入教材字数(业绩点/万字)</label>
            <input type="text" name="">
            </li> 
            <li>
              <input type="submit" value="提交">
            </li>
        </ul>
      </form>
   
    </div>
    <div class="shuju">
     
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
   
   
   
   
   
   
   
   
</div>


</div>

</div>
{% endblock %}



