{% extends 'teacheringindex.html' %}
{% block body1 %}
<script>
    $(function(){

        $('.add').click(function(){
            var jidan_id=document.getElementById("jidian_id").innerHTML;
            $.ajax({
            url:"{% url 'teacher:teachers_science' %}",
            type:"POST",
            data: {id:jidan_id},


            success: function (data) {
                if (data.errno == 0) {
                   alert('添加成功')
                    window.location.href="{% url 'teacher:teachers_selcet' %}";

                }
                else  {
                    alert('添加失败');
                }
            }
        });

        })

    })
</script>
<div class=" admin-content">
	
		<div class="daohang">
</div>
	
	


<div class="admin">

    <div class="admin-biaoge">
      <div class="xinxitj">科研项目业绩量化</div>
      <table class="am-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>项目级别</th>
            <th>系数</th>
            <th>立项业绩点</th>
          </tr>
        </thead>
        <tbody>
        {% for data in data_list %}
          <tr>
            <td id="jidian_id">{{ data.id }}</td>
            <td>{{ data.pro_level }}</td>
            <td>{{ data.pro_math }}</td>
            <td>{{ data.pro_jidian }}</td>
			      <td><a href="###" class="add">添加</a></td>
          </tr>
         {% endfor %}
		  
        </tbody>
      </table>
   
    </div>
    <div class="shuju">
     
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
   
   
   
   
   
   
   
   
</div>


</div>

</div>
{% endblock %}


