{% extends 'teacheringindex.html' %}
{% block body1 %}

<div class=" admin-content">
	
		<div class="daohang">
</div>
	
	


<div class="admin">

    <div class="admin-biaoge">
      <div class="xinxitj">科研平台业绩量化表</div>
      <form action="#" method="post" class="am-table">
        <ul>
          <li>1.项目级别</li>
          <li>
            <input type="radio" name="checkbox1" id="">
            <label>国家级</label>
            <input type="radio" name="checkbox1" id="">
            <label>省重点实验室</label>
            <input type="radio" name="checkbox1" id="">
            <label>省部级</label>
            <input type="radio" name="checkbox1" id="">
            <label>市厅级</label>
            
            </li>
            <li>2.考核验收等级 </li>
            <li>
            <input type="radio" name="checkbox2" id="">
            <label>优秀</label>
            <input type="radio" name="checkbox2" id="">
            <label>良好</label>
            <input type="radio" name="checkbox2" id="">
            <label>合格</label>
            <input type="radio" name="checkbox2" id="">
            <label>基本合格</label>
            <input type="radio" name="checkbox2" id="">
            <label>不合格</label>
            </li>
            
            
            
            <li>3.是否获准</li>
            <li>
            <input type="radio" name="checkbox4" id="">
            <label>是</label>
            <input type="radio" name="checkbox4" id="">
            <label>否</label>
            </li>
            <li>4.按期验收</li>
            <li>
            <input type="radio" name="checkbox5" id="">
            <label>是</label>
            <input type="radio" name="checkbox5" id="">
            <label>否</label>
            </li>
            <li>
              <input type="submit" value="提交">
            </li>
        </ul>
      </form>
   
    </div>
    <div class="shuju">
     
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
   
   
   
   
   
   
   
   
</div>


</div>

</div>
{% endblock %}
