{% extends 'teacheringindex.html' %}
{% block body1 %}

<div class=" admin-content">
	
		<div class="daohang">
</div>
	
	


<div class="admin">

    <div class="admin-biaoge">
      <div class="xinxitj">科研项目业绩量化</div>
      <!-- <table class="am-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>项目级别</th>
            <th>系数</th>
            <th>立项业绩点</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>国家级重大</td>
            <td>1.7</td>
            <td> 800 </td>
			      <td><a href="###">添加</a></td>
          </tr>
          <tr>
              <td>2</td>
              <td>国家级重点项目</td>
              <td>1.6</td>
              <td>400 </td>
             
              <td><a href="###">添加</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>国家级重点项目</td>
            <td>1.6</td>
            <td>400 </td>
           
            
           
            <td><a href="###">添加</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>国家级重点项目</td>
            <td>1.6</td>
            <td>400 </td>
           
            <td><a href="###">添加</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>国家级重点项目</td>
            <td>1.6</td>
            <td>400 </td>
           
            <td><a href="###">添加</a></td>
          </tr>
		  
        </tbody>
      </table> -->
      <form action="#" method="post" class="am-table">
        <ul>
          <li>1.学位点</li>
          <li>
            <input type="radio" name="checkbox1" id="">
            <label>一级学科博士点、博士专业学位授权点</label>
            <input type="radio" name="checkbox1" id="">
            <label>河南省博士授权立项建设单位培育学科</label>
            <input type="radio" name="checkbox1" id="">
            <label>一级学科硕士点、硕士专业学位授权点</label>
            
            </li>
            <li>2.学科 </li>
            <li>
            <input type="radio" name="checkbox2" id="">
            <label>国家一级重点学科</label>
            <input type="radio" name="checkbox2" id="">
            <label>国家一级重点学科培育建设点</label>
            <input type="radio" name="checkbox2" id="">
            <label>省级一级重点学科</label>
            <input type="radio" name="checkbox2" id="">
            <label>校级一级重点学科</label>
            <input type="radio" name="checkbox2" id="">
            <label>国家一流学科</label>
            <input type="radio" name="checkbox2" id="">
            <label>省级优势特色学科</label>
            <input type="radio" name="checkbox2" id="">
            <label>校级优势特色学科</label>
            </li>
            <li>3.是否获准</li>
            <li>
            <input type="radio" name="checkbox3" id="">
            <label>是</label>
            <input type="radio" name="checkbox3" id="">
            <label>否</label>
            
            </li>
            <li>4.验收结果
              </li>
            <li>
            <input type="radio" name="checkbox4" id="">
            <label>优秀</label>
            <input type="radio" name="checkbox4" id="">
            <label>良好</label>
            <input type="radio" name="checkbox4" id="">
            <label>合格</label>
            <input type="radio" name="checkbox4" id="">
            <label>不合格</label>
            </li>
            <li>5.是否按期验收</li>
            <li>
            <input type="radio" name="checkbox5" id="">
            <label>是</label>
            <input type="radio" name="checkbox5" id="">
            <label>否</label>
            </li>
            <li>6.研究生培养</li>
            <li>
            <input type="radio" name="checkbox5" id="">
            <label>全国优秀博士论文</label>
            <input type="radio" name="checkbox5" id="">
            <label>全国优秀博士论文提名</label>
            <input type="radio" name="checkbox5" id="">
            <label>省级优秀博士论文</label>
            <input type="radio" name="checkbox5" id="">
            <label>省级优秀硕士论文</label>
            <input type="radio" name="checkbox5" id="">
            <label>校级优秀硕士论文</label>
            <input type="radio" name="checkbox5" id="">
            <label>省级研究生质量提升工程项目</label>
            <input type="radio" name="checkbox5" id="">
            <label>校级研究生质量提升工程项目</label>
            </li> 
            <li>
              <input type="submit" value="提交">
            </li>
        </ul>
      </form>
   
    </div>
    <div class="shuju">
     
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
   
   
   
   
   
   
   
   
</div>

    <!-- <div class="foods">
    	<ul>版权所有@2015 违反必究 </ul>
    	<dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>
    </div> -->
</div>

</div>
{% endblock %}



