{% extends 'teacheringindex.html' %}
{% block body1 %}
<div class=" admin-content">
	
		<div class="daohang">
</div>
	
	


<div class="admin">

    <div class="admin-biaoge">
      <div class="xinxitj">教研业绩量化表</div>
      <table class="am-table">
        <thead>
          <tr>
            <th>项目</th>
            <th>序号</th>
            <th>类别</th>
            <th>业绩点</th>
            <th>备注</th>
			      <th>添加</th>
          </tr>
        </thead>
        <tbody>
        {% for data in data_list %}
          <tr>
            <td>{{ data.course_name }}</td>
            <td>{{ data.id }}</td>
            <td>{{ data.course_type }}</td>
            <td> {{ data.course_jidian }} </td>
            <td>{{ data.course_discript }}</td>
			      <td><a href="###">添加</a></td>
          </tr>
         {% endfor %}
		  
        </tbody>
      </table>
   
    </div>
    <div class="shuju">
     
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
   
   
   
   
   
   </div>
   
   </div>
</div>
{% endblock %}
