{% extends 'teacheringindex.html' %}
{% block body1 %}

<div class=" admin-content">
	
		<div class="daohang">
</div>
	
	


<div class="admin">

    <div class="admin-biaoge">
      <div class="xinxitj">科研奖励业绩量化表</div>
      <form action="#" method="post" class="am-table">
        <ul>
          <li>1.奖励级别</li>
          <li>
            <input type="radio" name="checkbox1" id="">
            <label>国家级</label>
            <input type="radio" name="checkbox1" id="">
            <label>省级</label>
            <input type="radio" name="checkbox1" id="">
            <label>国家奖励办登记的社会力量设奖
            </label>
            <input type="radio" name="checkbox1" id="">
            <label>市厅级</label>
            <input type="radio" name="checkbox1" id="">
            <label>河南省自然科学学术奖</label>
            </li>
            <li>2.奖励等级 </li>
            <li>
            <input type="radio" name="checkbox2" id="">
            <label>一等奖</label>
            <input type="radio" name="checkbox2" id="">
            <label>二等奖</label>
            <input type="radio" name="checkbox2" id="">
            <label>三等奖</label>
            </li>
            <li>3.合作单位个数</li>
            <li>
            <input type="radio" name="checkbox4" id="">
            <label>一个</label>
            <input type="radio" name="checkbox4" id="">
            <label>二个</label>
            <input type="radio" name="checkbox4" id="">
            <label>三个</label>
            <input type="radio" name="checkbox4" id="">
            <label>四个</label>
            <input type="radio" name="checkbox4" id="">
            <label>五个</label>
            <input type="radio" name="checkbox4" id="">
            <label>五个以上</label>
            </li>
            <li>4.我校排名</li>
            <li>
            <input type="radio" name="checkbox5" id="">
            <label>第一</label>
            <input type="radio" name="checkbox5" id="">
            <label>第二</label>
            <input type="radio" name="checkbox5" id="">
            <label>第三</label>
            <input type="radio" name="checkbox5" id="">
            <label>第四</label>
            <input type="radio" name="checkbox5" id="">
            <label>第五</label>
            <input type="radio" name="checkbox5" id="">
            <label>第六</label>
            <input type="radio" name="checkbox5" id="">
            <label>第六以后</label>
            </li>

        </ul>
      </form>
   
    </div>
    <div class="shuju">
     
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
   
   
   
   
   
   
   
   
</div>

    <!-- <div class="foods">
    	<ul>版权所有@2015 违反必究 </ul>
    	<dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>
    </div> -->
</div>

</div>
{% endblock %}



